@import './Variables.sass';
@import './Navigation.scss';
@import './Home.scss';
@import './Signin.scss';
@import './Spinner.scss';
@import './YourLists.scss';
@import './ListIcon.scss';
@import './ProgressBar.scss';
@import './TaskColumn.scss';
@import './TaskIcon.scss';
@import './PageNotFound.scss';
@import './About.scss';
@import './User.scss';
@import './InfoBar.scss';

body {
  margin: 0%;
  background: linear-gradient(30deg, $very-light-gray 55%, $normal-gray);
  background-repeat: no-repeat;
  font-family: 'Source Sans Pro', sans-serif;
  color: $dark-gray;
  min-height: 100vh;
}

//Links
a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
  color: white;
}

//Inputs
input[type='text'],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
}

input[type='email'],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
}

input[type='password'],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
}
