/*Common styles*/
:root {
  --container-width: 70vw;
}

body {
  margin: 0%;
  background-color: #1aa3ff;
  background: url('./wood.jpg');
  background-size: cover;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}

.container-fluid {
  padding-left: 8px;
  padding-right: 8px;
}

/*Links*/
a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
  color: white;
}

/*Navigation*/
.row-navigation {
  background-color: #333333;
}

.col-navigation {
  padding: 0px;
}

.div-navigation {
  height: 40px;
  font-size: 20px;
  text-decoration: none;
  position: relative;
}

.div-navigation:hover {
  background-color: #404040;
}

.div-navigation p {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(20%, -50%);
}

.div-navigation b {
  margin: 0;
  position: absolute;
  top: 50%;
  position: absolute;
  right: 10%;
  transform: translate(0%, -50%);
}

/*Container*/
.container {
  padding: 0%;
  color: black;
  background-color: rgb(255, 255, 255, 0.4);
  width: auto;
  max-width: var(--container-width);
  min-height: 90vh;
  margin-top: 20px;
  overflow: auto;
}

/*YourLists*/
.yourlists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/*ListIcon*/
.listicon {
  background: url('./paper.jpg');
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Gochi Hand', cursive;
  font-size: 30px;
  width: calc((var(--container-width) / 2) - 3vw);
  min-width: 350px;
  margin-top: 20px;
  height: 100px;
}

.namecontainer {
  width: 100%;
  padding: 10px;
}

.iconcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

/*DeleteIcon*/
.deleteicon {
  transition: 0.3s ease;
}

.deleteicon:hover {
  color: orangered;
  transform: scale(1.2, 1.2);
}

/*SettingsIcon*/
.settingsicon {
  transition: 0.3s ease;
}

.settingsicon:hover {
  color: #4caf50;
  transform: scale(1.2, 1.2);
}

/*NewListIcon*/
.newlisticon {
  background: url('./paper.jpg');
  background-size: cover;
  font-family: 'Gochi Hand', cursive;
  font-size: 30px;
  width: calc(((var(--container-width) / 2) - 3vw));
  min-width: 350px;
  margin-top: 20px;
  height: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*EmptyIcon*/
.emptyicon {
  background-color: transparent;
  width: calc((var(--container-width) / 2) - 3vw);
  min-width: 350px;
  margin-top: 20px;
  height: 1px;
}

/*Loader*/
.loader {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.listicon:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inputtext {
  width: 50%;
  padding: 8px;
  display: inline-block;
  border: 1px solid rgb(218, 217, 217);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
}

.confirmbutton {
  background-color: #4caf50;
  color: white;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
}

.Title {
  padding: 10px;
  text-align: center;
}

.TaskNavBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 2px;
}

.TaskNavOption {
  width: calc(var(--container-width) / 3);
  padding: 10px;
  background-color: rgb(255, 255, 255, 0.6);
  text-align: center;
}

.TaskNavOption:hover {
  background-color: rgb(255, 255, 255, 0.9);
}

.TaskIcon {
  background-color: rgb(255, 255, 255, 0.6);
  padding: 10px;
  margin-bottom: 2px;
}

input[type='text'] {
  width: calc(var(--container-width) - 100px);
  border: none;
  border-radius: 5px;
  height: 30px;
  padding: 5px;
  background-color: rgb(255, 255, 255, 0.6);
}

input[type='text']:focus {
  background-color: rgb(255, 255, 255);
}

.AddTaskInput {
  margin-bottom: 2px;
}
