/*Common styles*/
:root {
  --container-width: 70vw;
}

body {
  margin: 0%;
  background-color: #1aa3ff;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
}

.container-fluid {
  padding-left: 8px;
  padding-right: 8px;
}

/*Links*/
a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

a:active {
  text-decoration: none;
  color: white;
}

/*Navigation*/
.row-navigation {
  background-color: #333333;
}

.col-navigation {
  padding: 0px;
}

.div-navigation {
  height: 40px;
  font-size: 20px;
  text-decoration: none;
  position: relative;
}

.div-navigation:hover {
  background-color: #404040;
}

.div-navigation p {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(20%, -50%);
}

.div-navigation b {
  margin: 0;
  position: absolute;
  top: 50%;
  position: absolute;
  right: 10%;
  transform: translate(0%, -50%);
}

/*Container*/
.container {
  padding: 0%;
  color: black;
  background-color: white;
  width: auto;
  max-width: var(--container-width);
  min-height: 90vh;
  margin-top: 20px;
  overflow: auto;
}

/*YourLists*/
.yourlists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*ListIcon*/
.listicon {
  background-color: dimgrey;
  width: calc((var(--container-width) / 2) - 3vw);
  min-width: 350px;
  margin-top: 20px;
  height: 80px;
  padding: 10px;
}

.listicon:hover {
  cursor: pointer;
}
