@import './Variables.sass';
.navigation {
  font-family: 'Source Sans Pro', sans-serif !important;

  &-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: $dark-gray;
    font-size: 20px;
    text-decoration: none;
  }

  &-options {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  &-div {
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    color: white;
  }

  &-button {
    border: none;
    outline: none;
    background-color: $dark-gray;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif !important;
  }

  &-div:hover {
    background-color: #404040;
  }
}
