@import './Variables.sass';
.navigation {
  background-color: $dark-gray !important;
  color: white;
  text-decoration: none;
  font-size: 20px;

  &-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  &-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  &-button {
    background-color: $dark-gray;
    border: none;
    outline: none;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
    color: white;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
  }

  &-button:hover {
    background-color: #404040;
  }

  &-label {
    margin-left: 10px;
  }
}
