.signin {
  &-container {
    max-width: 400px;
    min-width: 400px;
    background-color: $normal-gray;
    padding: 20px;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.75);
  }

  &-label {
    font-weight: bold;
    margin-top: 15px;
  }

  &-button-submit {
    border: none;
    outline: none;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    font-size: 20px;
    margin-top: 20px;
    background: linear-gradient(20deg, $normal-purple 15%, $normal-blue);
    padding: 20px;
    border-radius: 4px;
    color: white;
    text-align: center;
    vertical-align: middle;
  }

  &-button-submit:hover {
    background: linear-gradient(20deg, $dark-purple 35%, $dark-blue);
    cursor: pointer;
  }
}
